


.card-custom {
    margin: 10px;
}

.custom-nav {
    background-color: green;
    padding-left:25px;
}

.head-custom {
    padding: 10px;
    border-style: solid;
    background-color: rgb(230, 255, 223);
}

.businessImage {
    height: 150px;
    max-width: 250px;
}

.card .card-content {
    margin: 0px;
}

.container-custom {
    width: 90%;
}

.row-custom {
    justify-content: center;
}

h5 {
    width: fit-content;
}