:root {
  --white: #fff;
  --green: #77a464;
  --wc-blue: #2ea2cc;
  --navy: #205072;
}

header {
  height: 80px;
  background-color: var(--green);
  margin-bottom: 20px;
}

header div {
  height: 100%;
}

h1 {
  color: var(--white);
}

h2 {
  text-align: center;
}

body {
background-color:var(--navy);
}

.save-card {
  margin-bottom: 15px;
  background-color: #2ea2cc;
}

.list-card {
  margin: 0 10px 10px 10px;
  width: 300px;
  background-color: #2ea2cc;
}
